You can't use it directly in this web interface, you have to install the software in Urho3D directory, see Urho3D/Readme.txt to install Urho3D with examples.<br>
You can

{{downloadLink downloadPath}}
  <button type="button" class="btn btn-primary">
    <span class="glyphicon glyphicon-cloud-download"></span>
    3d visualization files
  </button>
</a>

. Then, copy the .tsv files into the visualization folder.<br>
Finally, launch Urho3D/Bin/23_Malwurl executable.
